@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url('assets/bg1.png');
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.app-container{
    color: #9A3F3F;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.app-container b{
    background-color: #FEF3E2;
    border-radius: 10px;
    padding: 5px;
}
.advice{
    background-color: #FEF3E2;
}
button{
    border: none;
    background-color: #9A3F3F;
    padding: 10px 20px;
    color: #FEF3E2;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}